@import 'appbar.css';
@import 'Filmlist.css';
@import 'searchbar.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: aliceblue;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

footer{
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  text-align: center;
  background-color:rgb(255, 5, 5);
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 10px;
}
